html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
body,
html {
    width: 100%;
    height: 100%;
    position: fixed
}

.page {
    width: 100%;
    height: 100%
}

body {
    font-family: Cousine, "Helvetica CE", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    background: #111;
    display: block;
    padding: 0;
    color: white;
    overflow: hidden
}

a {
    color: white;
    text-decoration: none
}

i {
    font-size: 1em;
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 0.4em
}

button {
    font-family: Cousine;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 1em 1.4em;
    margin: 1em 0;
    display: inline-block;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    white-space: nowrap;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

button:hover {
    background: white;
    color: black !IMPORTANT
}

h2 {
    font-family: nexa_boldregular;
    font-weight: normal;
    font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    width: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}
@font-face {
  font-family: 'sweetness';
  src: url("sweetness.4493a32ba07ee4d63fe35fe389abab8f.woff2") format("woff2"), url("sweetness.3156250df06f20f3e2f87e701701dab9.woff") format("woff");
  font-weight: normal;
font-style: normal; }
                                    /*/////// Class ////////*/


.icon-glass:before {
    content: "\f000"
}

.icon-music:before {
    content: "\f001"
}

.icon-search:before {
    content: "\f002"
}

.icon-envelope-alt:before {
    content: "\f003"
}

.icon-heart:before {
    content: "\f004"
}

.icon-star:before {
    content: "\f005"
}

.icon-star-empty:before {
    content: "\f006"
}

.icon-user:before {
    content: "\f007"
}

.icon-film:before {
    content: "\f008"
}

.icon-th-large:before {
    content: "\f009"
}

.icon-th:before {
    content: "\f00a"
}

.icon-th-list:before {
    content: "\f00b"
}

.icon-ok:before {
    content: "\f00c"
}

.icon-remove:before {
    content: "\f00d"
}

.icon-zoom-in:before {
    content: "\f00e"
}

.icon-zoom-out:before {
    content: "\f010"
}

.icon-power-off:before,
.icon-off:before {
    content: "\f011"
}

.icon-signal:before {
    content: "\f012"
}

.icon-gear:before,
.icon-cog:before {
    content: "\f013"
}

.icon-trash:before {
    content: "\f014"
}

.icon-home:before {
    content: "\f015"
}

.icon-file-alt:before {
    content: "\f016"
}

.icon-time:before {
    content: "\f017"
}

.icon-road:before {
    content: "\f018"
}

.icon-download-alt:before {
    content: "\f019"
}

.icon-download:before {
    content: "\f01a"
}

.icon-upload:before {
    content: "\f01b"
}

.icon-inbox:before {
    content: "\f01c"
}

.icon-play-circle:before {
    content: "\f01d"
}

.icon-rotate-right:before,
.icon-repeat:before {
    content: "\f01e"
}

.icon-refresh:before {
    content: "\f021"
}

.icon-list-alt:before {
    content: "\f022"
}

.icon-lock:before {
    content: "\f023"
}

.icon-flag:before {
    content: "\f024"
}

.icon-headphones:before {
    content: "\f025"
}

.icon-volume-off:before {
    content: "\f026"
}

.icon-volume-down:before {
    content: "\f027"
}

.icon-volume-up:before {
    content: "\f028"
}

.icon-qrcode:before {
    content: "\f029"
}

.icon-barcode:before {
    content: "\f02a"
}

.icon-tag:before {
    content: "\f02b"
}

.icon-tags:before {
    content: "\f02c"
}

.icon-book:before {
    content: "\f02d"
}

.icon-bookmark:before {
    content: "\f02e"
}

.icon-print:before {
    content: "\f02f"
}

.icon-camera:before {
    content: "\f030"
}

.icon-font:before {
    content: "\f031"
}

.icon-bold:before {
    content: "\f032"
}

.icon-italic:before {
    content: "\f033"
}

.icon-text-height:before {
    content: "\f034"
}

.icon-text-width:before {
    content: "\f035"
}

.icon-align-left:before {
    content: "\f036"
}

.icon-align-center:before {
    content: "\f037"
}

.icon-align-right:before {
    content: "\f038"
}

.icon-align-justify:before {
    content: "\f039"
}

.icon-list:before {
    content: "\f03a"
}

.icon-indent-left:before {
    content: "\f03b"
}

.icon-indent-right:before {
    content: "\f03c"
}

.icon-facetime-video:before {
    content: "\f03d"
}

.icon-picture:before {
    content: "\f03e"
}

.icon-pencil:before {
    content: "\f040"
}

.icon-map-marker:before {
    content: "\f041"
}

.icon-adjust:before {
    content: "\f042"
}

.icon-tint:before {
    content: "\f043"
}

.icon-edit:before {
    content: "\f044"
}

.icon-share:before {
    content: "\f045"
}

.icon-check:before {
    content: "\f046"
}

.icon-move:before {
    content: "\f047"
}

.icon-step-backward:before {
    content: "\f048"
}

.icon-fast-backward:before {
    content: "\f049"
}

.icon-backward:before {
    content: "\f04a"
}

.icon-play:before {
    content: "\f04b"
}

.icon-pause:before {
    content: "\f04c"
}

.icon-stop:before {
    content: "\f04d"
}

.icon-forward:before {
    content: "\f04e"
}

.icon-fast-forward:before {
    content: "\f050"
}

.icon-step-forward:before {
    content: "\f051"
}

.icon-eject:before {
    content: "\f052"
}

.icon-chevron-left:before {
    content: "\f053"
}

.icon-chevron-right:before {
    content: "\f054"
}

.icon-plus-sign:before {
    content: "\f055"
}

.icon-minus-sign:before {
    content: "\f056"
}

.icon-remove-sign:before {
    content: "\f057"
}

.icon-ok-sign:before {
    content: "\f058"
}

.icon-question-sign:before {
    content: "\f059"
}

.icon-info-sign:before {
    content: "\f05a"
}

.icon-screenshot:before {
    content: "\f05b"
}

.icon-remove-circle:before {
    content: "\f05c"
}

.icon-ok-circle:before {
    content: "\f05d"
}

.icon-ban-circle:before {
    content: "\f05e"
}

.icon-arrow-left:before {
    content: "\f060"
}

.icon-arrow-right:before {
    content: "\f061"
}

.icon-arrow-up:before {
    content: "\f062"
}

.icon-arrow-down:before {
    content: "\f063"
}

.icon-mail-forward:before,
.icon-share-alt:before {
    content: "\f064"
}

.icon-resize-full:before {
    content: "\f065"
}

.icon-resize-small:before {
    content: "\f066"
}

.icon-plus:before {
    content: "\f067"
}

.icon-minus:before {
    content: "\f068"
}

.icon-asterisk:before {
    content: "\f069"
}

.icon-exclamation-sign:before {
    content: "\f06a"
}

.icon-gift:before {
    content: "\f06b"
}

.icon-leaf:before {
    content: "\f06c"
}

.icon-fire:before {
    content: "\f06d"
}

.icon-eye-open:before {
    content: "\f06e"
}

.icon-eye-close:before {
    content: "\f070"
}

.icon-warning-sign:before {
    content: "\f071"
}

.icon-plane:before {
    content: "\f072"
}

.icon-calendar:before {
    content: "\f073"
}

.icon-random:before {
    content: "\f074"
}

.icon-comment:before {
    content: "\f075"
}

.icon-magnet:before {
    content: "\f076"
}

.icon-chevron-up:before {
    content: "\f077"
}

.icon-chevron-down:before {
    content: "\f078"
}

.icon-retweet:before {
    content: "\f079"
}

.icon-shopping-cart:before {
    content: "\f07a"
}

.icon-folder-close:before {
    content: "\f07b"
}

.icon-folder-open:before {
    content: "\f07c"
}

.icon-resize-vertical:before {
    content: "\f07d"
}

.icon-resize-horizontal:before {
    content: "\f07e"
}

.icon-bar-chart:before {
    content: "\f080"
}

.icon-twitter-sign:before {
    content: "\f081"
}

.icon-facebook-sign:before {
    content: "\f082"
}

.icon-camera-retro:before {
    content: "\f083"
}

.icon-key:before {
    content: "\f084"
}

.icon-gears:before,
.icon-cogs:before {
    content: "\f085"
}

.icon-comments:before {
    content: "\f086"
}

.icon-thumbs-up-alt:before {
    content: "\f087"
}

.icon-thumbs-down-alt:before {
    content: "\f088"
}

.icon-star-half:before {
    content: "\f089"
}

.icon-heart-empty:before {
    content: "\f08a"
}

.icon-signout:before {
    content: "\f08b"
}

.icon-linkedin-sign:before {
    content: "\f08c"
}

.icon-pushpin:before {
    content: "\f08d"
}

.icon-external-link:before {
    content: "\f08e"
}

.icon-signin:before {
    content: "\f090"
}

.icon-trophy:before {
    content: "\f091"
}

.icon-github-sign:before {
    content: "\f092"
}

.icon-upload-alt:before {
    content: "\f093"
}

.icon-lemon:before {
    content: "\f094"
}

.icon-phone:before {
    content: "\f095"
}

.icon-unchecked:before,
.icon-check-empty:before {
    content: "\f096"
}

.icon-bookmark-empty:before {
    content: "\f097"
}

.icon-phone-sign:before {
    content: "\f098"
}

.icon-twitter:before {
    content: "\f099"
}

.icon-facebook:before {
    content: "\f09a"
}

.icon-github:before {
    content: "\f09b"
}

.icon-unlock:before {
    content: "\f09c"
}

.icon-credit-card:before {
    content: "\f09d"
}

.icon-rss:before {
    content: "\f09e"
}

.icon-hdd:before {
    content: "\f0a0"
}

.icon-bullhorn:before {
    content: "\f0a1"
}

.icon-bell:before {
    content: "\f0a2"
}

.icon-certificate:before {
    content: "\f0a3"
}

.icon-hand-right:before {
    content: "\f0a4"
}

.icon-hand-left:before {
    content: "\f0a5"
}

.icon-hand-up:before {
    content: "\f0a6"
}

.icon-hand-down:before {
    content: "\f0a7"
}

.icon-circle-arrow-left:before {
    content: "\f0a8"
}

.icon-circle-arrow-right:before {
    content: "\f0a9"
}

.icon-circle-arrow-up:before {
    content: "\f0aa"
}

.icon-circle-arrow-down:before {
    content: "\f0ab"
}

.icon-globe:before {
    content: "\f0ac"
}

.icon-wrench:before {
    content: "\f0ad"
}

.icon-tasks:before {
    content: "\f0ae"
}

.icon-filter:before {
    content: "\f0b0"
}

.icon-briefcase:before {
    content: "\f0b1"
}

.icon-fullscreen:before {
    content: "\f0b2"
}

.icon-group:before {
    content: "\f0c0"
}

.icon-link:before {
    content: "\f0c1"
}

.icon-cloud:before {
    content: "\f0c2"
}

.icon-beaker:before {
    content: "\f0c3"
}

.icon-cut:before {
    content: "\f0c4"
}

.icon-copy:before {
    content: "\f0c5"
}

.icon-paperclip:before,
.icon-paper-clip:before {
    content: "\f0c6"
}

.icon-save:before {
    content: "\f0c7"
}

.icon-sign-blank:before {
    content: "\f0c8"
}

.icon-reorder:before {
    content: "\f0c9"
}

.icon-list-ul:before {
    content: "\f0ca"
}

.icon-list-ol:before {
    content: "\f0cb"
}

.icon-strikethrough:before {
    content: "\f0cc"
}

.icon-underline:before {
    content: "\f0cd"
}

.icon-table:before {
    content: "\f0ce"
}

.icon-magic:before {
    content: "\f0d0"
}

.icon-truck:before {
    content: "\f0d1"
}

.icon-pinterest:before {
    content: "\f0d2"
}

.icon-pinterest-sign:before {
    content: "\f0d3"
}

.icon-google-plus-sign:before {
    content: "\f0d4"
}

.icon-google-plus:before {
    content: "\f0d5"
}

.icon-money:before {
    content: "\f0d6"
}

.icon-caret-down:before {
    content: "\f0d7"
}

.icon-caret-up:before {
    content: "\f0d8"
}

.icon-caret-left:before {
    content: "\f0d9"
}

.icon-caret-right:before {
    content: "\f0da"
}

.icon-columns:before {
    content: "\f0db"
}

.icon-sort:before {
    content: "\f0dc"
}

.icon-sort-down:before {
    content: "\f0dd"
}

.icon-sort-up:before {
    content: "\f0de"
}

.icon-envelope:before {
    content: "\f0e0"
}

.icon-linkedin:before {
    content: "\f0e1"
}

.icon-rotate-left:before,
.icon-undo:before {
    content: "\f0e2"
}

.icon-legal:before {
    content: "\f0e3"
}

.icon-dashboard:before {
    content: "\f0e4"
}

.icon-comment-alt:before {
    content: "\f0e5"
}

.icon-comments-alt:before {
    content: "\f0e6"
}

.icon-bolt:before {
    content: "\f0e7"
}

.icon-sitemap:before {
    content: "\f0e8"
}

.icon-umbrella:before {
    content: "\f0e9"
}

.icon-paste:before {
    content: "\f0ea"
}

.icon-lightbulb:before {
    content: "\f0eb"
}

.icon-exchange:before {
    content: "\f0ec"
}

.icon-cloud-download:before {
    content: "\f0ed"
}

.icon-cloud-upload:before {
    content: "\f0ee"
}

.icon-user-md:before {
    content: "\f0f0"
}

.icon-stethoscope:before {
    content: "\f0f1"
}

.icon-suitcase:before {
    content: "\f0f2"
}

.icon-bell-alt:before {
    content: "\f0f3"
}

.icon-coffee:before {
    content: "\f0f4"
}

.icon-food:before {
    content: "\f0f5"
}

.icon-file-text-alt:before {
    content: "\f0f6"
}

.icon-building:before {
    content: "\f0f7"
}

.icon-hospital:before {
    content: "\f0f8"
}

.icon-ambulance:before {
    content: "\f0f9"
}

.icon-medkit:before {
    content: "\f0fa"
}

.icon-fighter-jet:before {
    content: "\f0fb"
}

.icon-beer:before {
    content: "\f0fc"
}

.icon-h-sign:before {
    content: "\f0fd"
}

.icon-plus-sign-alt:before {
    content: "\f0fe"
}

.icon-double-angle-left:before {
    content: "\f100"
}

.icon-double-angle-right:before {
    content: "\f101"
}

.icon-double-angle-up:before {
    content: "\f102"
}

.icon-double-angle-down:before {
    content: "\f103"
}

.icon-angle-left:before {
    content: "\f104"
}

.icon-angle-right:before {
    content: "\f105"
}

.icon-angle-up:before {
    content: "\f106"
}

.icon-angle-down:before {
    content: "\f107"
}

.icon-desktop:before {
    content: "\f108"
}

.icon-laptop:before {
    content: "\f109"
}

.icon-tablet:before {
    content: "\f10a"
}

.icon-mobile-phone:before {
    content: "\f10b"
}

.icon-circle-blank:before {
    content: "\f10c"
}

.icon-quote-left:before {
    content: "\f10d"
}

.icon-quote-right:before {
    content: "\f10e"
}

.icon-spinner:before {
    content: "\f110"
}

.icon-circle:before {
    content: "\f111"
}

.icon-mail-reply:before,
.icon-reply:before {
    content: "\f112"
}

.icon-github-alt:before {
    content: "\f113"
}

.icon-folder-close-alt:before {
    content: "\f114"
}

.icon-folder-open-alt:before {
    content: "\f115"
}

.icon-expand-alt:before {
    content: "\f116"
}

.icon-collapse-alt:before {
    content: "\f117"
}

.icon-smile:before {
    content: "\f118"
}

.icon-frown:before {
    content: "\f119"
}

.icon-meh:before {
    content: "\f11a"
}

.icon-gamepad:before {
    content: "\f11b"
}

.icon-keyboard:before {
    content: "\f11c"
}

.icon-flag-alt:before {
    content: "\f11d"
}

.icon-flag-checkered:before {
    content: "\f11e"
}

.icon-terminal:before {
    content: "\f120"
}

.icon-code:before {
    content: "\f121"
}

.icon-reply-all:before {
    content: "\f122"
}

.icon-mail-reply-all:before {
    content: "\f122"
}

.icon-star-half-full:before,
.icon-star-half-empty:before {
    content: "\f123"
}

.icon-location-arrow:before {
    content: "\f124"
}

.icon-crop:before {
    content: "\f125"
}

.icon-code-fork:before {
    content: "\f126"
}

.icon-unlink:before {
    content: "\f127"
}

.icon-question:before {
    content: "\f128"
}

.icon-info:before {
    content: "\f129"
}

.icon-exclamation:before {
    content: "\f12a"
}

.icon-superscript:before {
    content: "\f12b"
}

.icon-subscript:before {
    content: "\f12c"
}

.icon-eraser:before {
    content: "\f12d"
}

.icon-puzzle-piece:before {
    content: "\f12e"
}

.icon-microphone:before {
    content: "\f130"
}

.icon-microphone-off:before {
    content: "\f131"
}

.icon-shield:before {
    content: "\f132"
}

.icon-calendar-empty:before {
    content: "\f133"
}

.icon-fire-extinguisher:before {
    content: "\f134"
}

.icon-rocket:before {
    content: "\f135"
}

.icon-maxcdn:before {
    content: "\f136"
}

.icon-chevron-sign-left:before {
    content: "\f137"
}

.icon-chevron-sign-right:before {
    content: "\f138"
}

.icon-chevron-sign-up:before {
    content: "\f139"
}

.icon-chevron-sign-down:before {
    content: "\f13a"
}

.icon-html5:before {
    content: "\f13b"
}

.icon-css3:before {
    content: "\f13c"
}

.icon-anchor:before {
    content: "\f13d"
}

.icon-unlock-alt:before {
    content: "\f13e"
}

.icon-bullseye:before {
    content: "\f140"
}

.icon-ellipsis-horizontal:before {
    content: "\f141"
}

.icon-ellipsis-vertical:before {
    content: "\f142"
}

.icon-rss-sign:before {
    content: "\f143"
}

.icon-play-sign:before {
    content: "\f144"
}

.icon-ticket:before {
    content: "\f145"
}

.icon-minus-sign-alt:before {
    content: "\f146"
}

.icon-check-minus:before {
    content: "\f147"
}

.icon-level-up:before {
    content: "\f148"
}

.icon-level-down:before {
    content: "\f149"
}

.icon-check-sign:before {
    content: "\f14a"
}

.icon-edit-sign:before {
    content: "\f14b"
}

.icon-external-link-sign:before {
    content: "\f14c"
}

.icon-share-sign:before {
    content: "\f14d"
}

.icon-compass:before {
    content: "\f14e"
}

.icon-collapse:before {
    content: "\f150"
}

.icon-collapse-top:before {
    content: "\f151"
}

.icon-expand:before {
    content: "\f152"
}

.icon-euro:before,
.icon-eur:before {
    content: "\f153"
}

.icon-gbp:before {
    content: "\f154"
}

.icon-dollar:before,
.icon-usd:before {
    content: "\f155"
}

.icon-rupee:before,
.icon-inr:before {
    content: "\f156"
}

.icon-yen:before,
.icon-jpy:before {
    content: "\f157"
}

.icon-renminbi:before,
.icon-cny:before {
    content: "\f158"
}

.icon-won:before,
.icon-krw:before {
    content: "\f159"
}

.icon-bitcoin:before,
.icon-btc:before {
    content: "\f15a"
}

.icon-file:before {
    content: "\f15b"
}

.icon-file-text:before {
    content: "\f15c"
}

.icon-sort-by-alphabet:before {
    content: "\f15d"
}

.icon-sort-by-alphabet-alt:before {
    content: "\f15e"
}

.icon-sort-by-attributes:before {
    content: "\f160"
}

.icon-sort-by-attributes-alt:before {
    content: "\f161"
}

.icon-sort-by-order:before {
    content: "\f162"
}

.icon-sort-by-order-alt:before {
    content: "\f163"
}

.icon-thumbs-up:before {
    content: "\f164"
}

.icon-thumbs-down:before {
    content: "\f165"
}

.icon-youtube-sign:before {
    content: "\f166"
}

.icon-youtube:before {
    content: "\f167"
}

.icon-xing:before {
    content: "\f168"
}

.icon-xing-sign:before {
    content: "\f169"
}

.icon-youtube-play:before {
    content: "\f16a"
}

.icon-dropbox:before {
    content: "\f16b"
}

.icon-stackexchange:before {
    content: "\f16c"
}

.icon-instagram:before {
    content: "\f16d"
}

.icon-flickr:before {
    content: "\f16e"
}

.icon-adn:before {
    content: "\f170"
}

.icon-bitbucket:before {
    content: "\f171"
}

.icon-bitbucket-sign:before {
    content: "\f172"
}

.icon-tumblr:before {
    content: "\f173"
}

.icon-tumblr-sign:before {
    content: "\f174"
}

.icon-long-arrow-down:before {
    content: "\f175"
}

.icon-long-arrow-up:before {
    content: "\f176"
}

.icon-long-arrow-left:before {
    content: "\f177"
}

.icon-long-arrow-right:before {
    content: "\f178"
}

.icon-apple:before {
    content: "\f179"
}

.icon-windows:before {
    content: "\f17a"
}

.icon-android:before {
    content: "\f17b"
}

.icon-linux:before {
    content: "\f17c"
}

.icon-dribbble:before {
    content: "\f17d"
}

.icon-skype:before {
    content: "\f17e"
}

.icon-foursquare:before {
    content: "\f180"
}

.icon-trello:before {
    content: "\f181"
}

.icon-female:before {
    content: "\f182"
}

.icon-male:before {
    content: "\f183"
}

.icon-gittip:before {
    content: "\f184"
}

.icon-sun:before {
    content: "\f185"
}

.icon-moon:before {
    content: "\f186"
}

.icon-archive:before {
    content: "\f187"
}

.icon-bug:before {
    content: "\f188"
}

.icon-vk:before {
    content: "\f189"
}

.icon-weibo:before {
    content: "\f18a"
}

.icon-renren:before {
    content: "\f18b"
}

@font-face {
    font-family: 'FontAwesome';
    src: url("fontawesome-webfont.eot");
    src: url("fontawesome-webfont-1.eot#iefix&v=3.2.1") format('embedded-opentype'), url("fontawesome-webfont.woff") format('woff'), url("fontawesome-webfont.ttf") format('truetype'), url("fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url("nexa_bold-webfont.eot");
    src: url("nexa_bold-webfont-1.eot#iefix") format('embedded-opentype'), url("nexa_bold-webfont.woff") format('woff'), url("nexa_bold-webfont.ttf") format('truetype'), url("nexa_bold-webfont.svg#nexa_boldregular") format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url("nexa_light-webfont.eot");
    src: url("nexa_light-webfont-1.eot#iefix") format('embedded-opentype'), url("nexa_light-webfont.woff") format('woff'), url("nexa_light-webfont.ttf") format('truetype'), url("nexa_light-webfont.svg#nexa_lightregular") format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 400;
    src: local('Cousine'), url("0IpceuvDvCegpU9Mz8MQ_g.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}



.header {
    left: 0;
    right: 0;
    position: fixed;
    height: 80px;
    z-index: 99;
    padding: 18px;
    padding-left: 5%;
    top: 6%;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity 1s 0.5s, padding 1s 0s, top 1s 0.6s, box-shadow 1s 0s, border 1s 0s, background 0.6s 0s;
    -moz-transition: opacity 1s 0.5s, padding 1s 0s, top 1s 0.6s, box-shadow 1s 0s, border 1s 0s, background 0.6s 0s;
    -ms-transition: opacity 1s 0.5s, padding 1s 0s, top 1s 0.6s, box-shadow 1s 0s, border 1s 0s, background 0.6s 0s;
    -o-transition: opacity 1s 0.5s, padding 1s 0s, top 1s 0.6s, box-shadow 1s 0s, border 1s 0s, background 0.6s 0s;
    transition: opacity 1s 0.5s, padding 1s 0s, top 1s 0.6s, box-shadow 1s 0s, border 1s 0s, background 0.6s 0s
}

.header .logo {
    float: left;
    margin-right: 85px;
    cursor: pointer;
    display: inline-block;
    width: 38px;
    height: 38px
}

.header .logo img {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none
}

.header #menu li {
    float: left;
    padding: 5px 20px;
    margin-right: 0;
    margin-top: 8px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    max-width: 250px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.header #menu li a {
    border-bottom: 1px dotted #009688;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.header #menu li:nth-child(1) {
    border: none
}

.header #menu li:hover {
    background: white
}

.header #menu li:hover a {
    color: black;
    border-bottom: 1px dotted transparent
}

.header .settings {
    display: block;
    float: right;
    top: 12px;
    right: 2%;
    position: relative;
    z-index: -1;
    width: 260px;
    height: 20px overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.header .settings li {
    display: block;
    float: right;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.header .settings li:not(:first-child) {
    opacity: 0;
    float: left;
    margin-right: 20px;
    cursor: pointer
}

.header .settings:hover .settings-icon {
    background: white;
    color: black
}

.header .settings:hover li {
    opacity: 1
}

.header .settings:hover {
    width: 230px
}

.header .settings-icon {
    font-size: 96%;
    cursor: pointer;
    padding: 2px 3px;
    border-radius: 60%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.header #item-menu {
    float: right
}

.header #item-menu li {
    padding: 0;
    float: right;
    font-size: 3em;
    cursor: pointer;
    overflow: hidden;
    max-width: 0;
    font-family: FontAwesome;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 1.2s;
    -moz-transition-delay: 1.2s;
    -ms-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.header.viewing-item #item-menu li {
    padding: 0 20px;
    max-width: 300px
}

.header.hidden {
    opacity: 0
}

.header.active {
    -webkit-transition: padding 1s, top 0.6s, box-shadow 1s 0.6s, border 1s 0.6s, background 1s 0.6s;
    -moz-transition: padding 1s, top 0.6s, box-shadow 1s 0.6s, border 1s 0.6s, background 1s 0.6s;
    -ms-transition: padding 1s, top 0.6s, box-shadow 1s 0.6s, border 1s 0.6s, background 1s 0.6s;
    -o-transition: padding 1s, top 0.6s, box-shadow 1s 0.6s, border 1s 0.6s, background 1s 0.6s;
    transition: padding 1s, top 0.6s, box-shadow 1s 0.6s, border 1s 0.6s, background 1s 0.6s;
    top: 0;
    padding-left: 4em;
    background: black;
    box-shadow: 0 2px 30px -1px #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.header.active .settings {
    opacity: 0;
    display: none
}

.header.active #menu li {
    padding: 14px 20px;
    border-left: 1px solid #111;
    background: transparent;
    margin-right: 0;
    margin-top: 0
}

.header.active #menu li a {
    color: grey;
    border-bottom: 1px dotted transparent
}

.header.active #menu li:hover a {
    color: white;
    text-shadow: 0 0 30px grey
}

.header.active #menu li.active {
    max-width: 0;
    padding: 14px 0;
    border: 0;
    overflow: hidden
}

.header.active #menu li:hover:before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 1px;
    bottom: 8px;
    display: block;
    background: #0bf;
    box-shadow: 0 0 8px #0bf
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.bg.clouds {
    position: fixed;
    background:url("round3.jpg") no-repeat;
    background-position: 50% 60%;
    background-size: 100%;
    width: 110% !IMPORTANT;
    height: 110% !IMPORTANT;
    margin-left: -5%;
    filter: grayscale(120%);
        -webkit-filter: grayscale(2);
        -moz-filter: grayscale(2);
        -o-filter: grayscale(2);
        -ms-filter: grayscale(2);
}


.ball {
    position: absolute;
    z-index: 11
}

.ball.bounce {
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation: bounceball 2.6s infinite;
    -moz-animation: bounceball 2.6s infinite;
    -o-animation: bounceball 2.6s infinite;
    animation: bounceball 2.6s infinite
}

.ball img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none
}

@-webkit-keyframes bounceball {
    0%,
    100% {
        margin-top: 0
    }
    50% {
        margin-top: -10px
    }
}

@-moz-keyframes bounceball {
    0%,
    100% {
        margin-top: 0
    }
    50% {
        margin-top: -10px
    }
}

@-o-keyframes bounceball {
    0%,
    100% {
        margin-top: 0
    }
    50% {
        margin-top: -10px
    }
}

@keyframes bounceball {
    0%,
    100% {
        margin-top: 0
    }
    50% {
        margin-top: -10px
    }
}

.ball1 {
    top: 10% !IMPORTANT;
    left: 68% !IMPORTANT;
    z-index: 11
}

.ball2 {
    top: 31% !IMPORTANT;
    left: 53% !IMPORTANT
}

.ball3 {
    top: 11% !IMPORTANT;
    left: 58% !IMPORTANT
}

.ball4 {
    top: 32% !IMPORTANT;
    left: 12% !IMPORTANT
}

.ball5 {
    top: 13% !IMPORTANT;
    left: 32% !IMPORTANT
}

.ball6 {
    top: 17% !IMPORTANT;
    left: 27% !IMPORTANT
}

.blink {
    -webkit-animation: blink 0.2s linear infinite;
    -moz-animation: blink 0.2s linear infinite;
    animation: blink 0.2s linear infinite;
   
}

.ribbon {
    right: 0;
    top: 50%;
    position: fixed;
    display: none;
    z-index: 20
}

.onepagelove {
    background: url("one-page-love-award.png") right center;
    margin-top: -71px;
    width: 73px;
    height: 56px
}

.csslight {
    background: url("small-csslight-ribbon-black-light-right.png") right center;
    margin-top: 5px;
    width: 84px;
    height: 29px
}

.ribbon:hover {
    background-position: left center
}

                                /*/////////// ID ///////// */


#homepage {
    background-size: cover;
    background-size: 101%;
    width: 100%;
    height: 100%
}

#homepage .bg.roof {
    background: url("cloud3.png") repeat-x;
    background-position: 50% 60%;
    background-size: 100%;
    width: 120% !IMPORTANT;
    height: 120% !IMPORTANT;
    margin-left: -10%;
    opacity: 0.4;
}

#homepage .bg.grid {
    background: url("bg1.png") center center
}

#homepage .splash {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 90%;
    padding-left: 5%;
    z-index: 15;
    box-sizing: border-box
}

#homepage h2 {
    position: absolute;
    font-size: 8em;
    top: 50%;
    height: 204px;
    margin-top: -190px;
    word-break: break-all;
    line-height: 0.85em;
    width: 100%;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s
}

#homepage h2 span {
    float: left;
    width: 100%
}

#homepage h3 {
    font-size: 1em;
    position: absolute;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

#homepage h3.hidden {
    opacity: 0
}

#homepage h3.hidden .line {
    width: 0;
    margin-left: 43px
}

#homepage h3 .line {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

#homepage .block {
    position: absolute;
    display: block;
    width: 100%;
    box-sizing: border-box
}

#homepage .top {
    top: 20%
}

#homepage .middle {
    bottom: 20%
}

#homepage .bottom {
    bottom: 5%;
    margin-bottom: 1em
}

#homepage .line {
    width: 43px;
    height: 4px;
    background: white;
    display: inline-block;
    margin: 4px 0;
    margin-right: 100px
}

#balls {
    display: block;
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: fixed !IMPORTANT;
    top: 0;
    left: 0
}


#pages {
    position: fixed;
    overflow: hidden;
    background: #111 url("grid.png") fixed center;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 20
}

.page {
    display: none;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
    width: auto;
    height: auto;
    z-index: 20
}

#portfolio .item {
    -webkit-transition: height 0.6s, background-position 0.6s, box-shadow 1s, top 0.6s, padding-top 0.6s, -webkit-transform 0.8s, opacity 0.6s;
    -webkit-transition: height 0.6s, background-position 0.6s, box-shadow 1s, top 0.6s, padding-top 0.6s, transform 0.8s, opacity 0.6s;
    -moz-transition: height 0.6s, background-position 0.6s, box-shadow 1s, top 0.6s, padding-top 0.6s, transform 0.8s, opacity 0.6s;
    -ms-transition: height 0.6s, background-position 0.6s, box-shadow 1s, top 0.6s, padding-top 0.6s, transform 0.8s, opacity 0.6s;
    -o-transition: height 0.6s, background-position 0.6s, box-shadow 1s, top 0.6s, padding-top 0.6s, transform 0.8s, opacity 0.6s;
    transition: height 0.6s, background-position 0.6s, box-shadow 1s, top 0.6s, padding-top 0.6s, transform 0.8s, opacity 0.6s;
    -webkit-transform: perspective(600px) rotateX(30deg) scale(0.8);
    -moz-transform: perspective(600px) rotateX(30deg) scale(0.8);
    -ms-transform: perspective(600px) rotateX(30deg) scale(0.8);
    -o-transform: perspective(600px) rotateX(30deg) scale(0.8);
    transform: perspective(600px) rotateX(30deg) scale(0.8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 32.3%;
    height: 300px;
    min-height: 260px;
    background: url("jeu2.png");
    background-size: cover;
    background-position: center top;
    background-origin: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    opacity: 0
}

#portfolio .item.hoverable:hover,
#portfolio .item.hover {
    -webkit-transition: height 0.6s, background-position 15.0s 1.0s, box-shadow 1s;
    -moz-transition: height 0.6s, background-position 15.0s 1.0s, box-shadow 1s;
    -ms-transition: height 0.6s, background-position 15.0s 1.0s, box-shadow 1s;
    -o-transition: height 0.6s, background-position 15.0s 1.0s, box-shadow 1s;
    transition: height 0.6s, background-position 15.0s 1.0s, box-shadow 1s;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 9;
    background-position: 20% 60%
}

#portfolio .item.normal {
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    opacity: 1
}

#portfolio .item h2 {
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    display: inline
}

#portfolio .item .viewdetails {
    max-width: 300px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#portfolio .item .scrolldown {
    max-width: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#portfolio .item .line {
    margin: 1em 0;
    width: 20px;
    height: 2px;
    display: block;
    background: #0bf;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s
}

#portfolio .item p {
    margin: 1em 0
}

#portfolio .item .bg {
    background: #000;
    background: -webkit-gradient(linear, left center, right center, color-stop(0, #000000), color-stop(1, rgba(0, 0, 0, 0.5)));
    background: -ms-linear-gradient(left, #000000, rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(center left, #000 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), #000000);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.5)', endColorstr='#000000', GradientType=1);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#portfolio .item.hoverable:hover .bg,
#portfolio .item.hover .bg {
    opacity: 0.3
}

#portfolio .item .info {
    padding: 4em;
    position: relative;
    z-index: 2;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#portfolio .item .content {
    opacity: 0;
    min-height: 100%;
    width: 100%;
    padding-top: 6em;
    background: white;
    position: relative;
    z-index: 3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#portfolio .item .content .wrapper {
    margin: 0 auto;
    max-width: 815px;
    width: 90%
}

#portfolio .item .content .wrapper p {
    text-align: center;
    color: black
}

#portfolio .item .content .wrapper p .line {
    margin: 1em auto
}

#portfolio .item .break {
    display: none
}

#portfolio .item .subitem {
    width: 100%;
    margin: 100px -50%;
    position: relative
}

#portfolio .item .monitor {
    position: absolute;
    width: 100%
}

#portfolio .item .image {
    position: absolute;
    width: 100%;
    padding: 3.7% 3.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

#portfolio .item .monitor2 {
    width: 100%;
    padding: 4.1% 4% 22.3% 4%;
    background: url("imac@2x.png") no-repeat;
    background-size: cover;
    margin-bottom: 6em;
    margin-left: -4%
}

#portfolio .item .chrome {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: url("chrome.jpg");
    height: 32px;
    width: 100%;
    border: 1px solid #c1c1c1;
    box-sizing: border-box
}

#portfolio .item .window {
    width: 100%
}

#portfolio .item iframe,
#portfolio .item .window {
    border: 1px solid #c1c1c1;
    border-top: none;
    box-sizing: border-box;
    margin-bottom: 100px;
    box-shadow: 0 10px 55px rgba(0, 0, 0, 0.5)
}

#portfolio .item.active {
    height: 100%;
    opacity: 1;
    background-size: cover;
    top: 0
}

#portfolio .item.active h2 {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    font-size: 16em;
    width: 90%;
    min-width: 988px
}

#portfolio .item.active .info .line {
    margin: 2em 0;
    width: 80px;
    height: 4px;
    background: #FFF
}

#portfolio .item.active .viewdetails {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    opacity: 0
}

#portfolio .item.active .scrolldown {
    -webkit-transition: width 0.5s ease 2s, opacity 0.5s ease 2s, background 0.5s, color 0.5s;
    -moz-transition: width 0.5s ease 2s, opacity 0.5s ease 2s, background 0.5s, color 0.5s;
    -ms-transition: width 0.5s ease 2s, opacity 0.5s ease 2s, background 0.5s, color 0.5s;
    -o-transition: width 0.5s ease 2s, opacity 0.5s ease 2s, background 0.5s, color 0.5s;
    transition: width 0.5s ease 2s, opacity 0.5s ease 2s, background 0.5s, color 0.5s;
    opacity: 1;
    max-width: 300px
}

#portfolio .item.active .bg {
    opacity: 0 !IMPORTANT
}

#portfolio .item.active .content {
    opacity: 1
}

#portfolio .formstudio {
    background-image: url("mpu.png")
}

#portfolio .formstudio.active .info {
    background: rgba(57, 135, 207, 0.9)
}

#portfolio .bigswordfish {
    background-image: url("pong.png")
}

#portfolio .bigswordfish.active .info {
    background: rgba(30, 58, 85, 0.9)
}

#portfolio .logosoftheworld {
    background-image: url("jeu2.png")
}

#portfolio .logosoftheworld.active .info {
    background: rgba(201, 141, 85, 0.9)
}

#portfolio .revoltcms {
    background-image: url("revoltcms.jpg")
}

#portfolio .revoltcms.active .info {
    background-color: rgba(38, 0, 105, 0.95)
}

#portfolio .saifdesign {
    background-image: url("bot.png")
}

#portfolio .marina {
    background-image: url("marina.jpg")
}

#portfolio .mirohristov {
    background-image: url("mirohristov.jpg")
}

#portfolio .mirohristov.active .info {
    background-color: rgba(0, 0, 0, 0.95)
}

#portfolio .spacer {
    height: 600px;
    display: none
}

#about {
    background: url("X.jpeg") center;
    background-size: cover;
    overflow: auto
}

#about .bg {
    background: url("grid.png") center center fixed;
    z-index: -1
}

#about section {
    width: 90%;
    max-width: 1200px;
    margin: 2% auto
}

#about .info {
    margin: 1.5em auto;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: nexa_lightregular;
    text-align: center;
    color: white;
}


section.visible .sep {
    width: 100%;
    opacity: 1
}



#about section .dials>div {
    opacity: 0;
    background: url("arrows.png") left center;
    display: inline-block;
    width: 270px;
    height: 0px;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

#about section .dials>div:nth-child(2) {
    background-position: center center
}

#about section .dials>div:nth-child(3) {
    background-position: right center
}

#about section.visible .dials>div {
    opacity: 1;
    transform: scale(1);
    height: 370px
}

#about section .dials>div>div {
    background: url("arrows-back.png");
    width: 270px;
    height: 370px;
    position: relative;
    margin-left: -136px;
    left: 50%
}


section .skills li {
    display: inline-block;
    margin: -30px 15px 0;
    position: relative;
    width: 188px;
    height: 216px;
    background: url("hexagon.png");
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -ms-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

section.visible .skills li {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}


#contact {
    background: url("c.jpg") center top fixed;
    background-size: cover;
    overflow: hidden
}

#contact .bg {
    background: url("grid.png") center center fixed
}

#contact .info {
    height: 308px;
    width: 411px;
    margin-top: -245.5px;
    margin-left: -205px;
    top: 50%;
    left: 50%;
    background: rgba(10, 10, 10, 0.8);
    position: absolute;
    padding: 2.5em;
    line-height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

#contact .info a {
    border-bottom: 1px dotted #0bf;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#contact .info a:hover {
    outline: 2px solid white;
    border: none;
    color: black;
    background: white
}

#contact .info .line {
    margin: 1em 0;
    width: 20px;
    height: 2px;
    display: block;
    background: #0bf;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s
}

#contact .info .icon-mobile-phone {
    font-size: 1.8em;
    margin-right: 0.7em;
    display: block;
    float: left
}


::selection {
    background: #0bf
}

::-moz-selection {
    background: #0bf
}

.dials {
    text-align: justify;
    min-height: 370px;
    margin: 30px auto;
    font-size: 0.1px
}
.sep {
    margin: 1.5em 0;
    height: 1px;
    width: 0;
    opacity: 0;
    background: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.sep:before {
    display: block;
    width: 50px;
    height: 3px;
    background: white;
    border-right: 2px solid #101010
}


.dials:after {
    content: '';
    width: 100%;
    display: inline-block
}

.skills {
    padding-top: 90px;
    color: white;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: nexa_lightregular;
    text-align: center;
    min-height: 500px;
    perspective: 600px
}
.skills li div {
    width: 100%;
    height: 100%;
    display: table
}

.skills li div p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: 99999;
    background: #111 url("grid.png") fixed center
}

.preloader img {
    top: 50%;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
    position: absolute;
    border-radius: 50%
}

.spacer {
    height: 0;
    width: 100%
}

.no-delay {
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none
}

.delay-1 {
    transition-delay: 0.2s !IMPORTANT
}

.delay-2 {
    transition-delay: 0.4s !IMPORTANT
}

.delay-3 {
    transition-delay: 0.6s !IMPORTANT
}

.delay-4 {
    transition-delay: 0.8s !IMPORTANT
}
.clear {
    clear: both
}

@media screen and (max-width: 960px) {
    body {
        font-size: 1.2em
    }
    #homepage,
    .bg.roof {
        background-size: cover !IMPORTANT;
        background-position: center
    }
    .header {
        top: 0;
        position: absolute
    }
    .header #menu li {
        padding: 7px 20px !IMPORTANT;
        margin-top: 0
    }
    .header #menu li a {
        font-size: 1.5em;
        color: #0bf;
        border-bottom: 2px dotted #0bf
    }
    .header.active #menu li {
        padding: 7px 20px !IMPORTANT
    }
    .header.active #menu li.active {
        padding: 7px 0 !IMPORTANT
    }
    .item {
        min-height: 420px !IMPORTANT
    }
    .item.active h2 {
        font-size: 6em !IMPORTANT
    }
    .item .info h2 {
        font-size: 4em
    }
    .item button {
        font-size: 1em
    }
    #contact .info {
        font-size: 2em;
        width: 100%;
        height: 100%;
        min-height: 600px;
        margin: 0;
        top: 0;
        left: 0;
        position: relative;
        background: none
    }
    #contact {
        overflow: scroll
    }
    #about section {
        margin: 0 auto
    }
    #about section .dials>div {
        margin: 0 -20px;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8)
    }
    #about section .skills li {
        margin-bottom: 60px
    }
    #about section .break {
        display: none
    }
}

@keyframes blink {
    0% {
        opacity: 0.2
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0.2
    }
    100% {
        opacity: 1
    }
}

